
.app {
    display: flex;
    padding: 100px;
    height: 100vh;
    justify-content: center;
    align-items: start;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:50%;

}

.flexible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-overflow: ellipsis;
    max-width: 100%;
}

.flexible button{
    margin-left:5px;
}

.searchBar {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.searchBar input{
    width: 100%;
    margin-right: 10px;
}

.resultContainer {
    width: 100%;
}

.textDecoration{
    text-decoration: line-through;
}
